[Unit]
Description=docker-gc

[Service]
TimeoutStartSec=1200
ExecStartPre=/opt/bin/docker-wrapper pull %n

# This service accesses docker on the host, so we map the socket into it.
ExecStart=/opt/bin/docker-wrapper run --rm --memory=128M --net=host \
                                  -v /var/run/docker.sock:/var/run/docker.sock \
                                  %n
ExecStop=/opt/bin/docker-wrapper stop %n
RestartSec=5s
Restart=on-failure

[X-Fleet]
Global=true
